.container {
  max-width: 760px;
  margin: 0 auto 0;
}

.header {
  display: flex;
  flex-direction: column;
  height: 75px;
  background-color: #f6f8fa;
  border: 1px solid #d8dee4;
  border-top: none;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #777;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
